body {
    font-family: 'Arial', sans-serif;
    background-color: #230338;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.FireworksDiv{
    z-index: 1;
    position: relative;
    height: 100vh;
    width: auto;
    background-color: #230338;
}

.container {
    z-index: 2;
    text-align: center;
    background-color: #230338;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #ED5107;
}

.buttons {
    margin-top: 20px;
}

button {
    z-index: 3;
    padding: 10px 20px;
    font-size: 16px;
    margin: 0 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

#yesButton {
    background-color: #013221;
    color: #fff;
}

#noButton {
    background-color: #660001;
    color: #fff;
}